/* This is the global dassana stylesheet. It should match the global stylesheet in web-orchestrator. */

@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

html,
body,
#root,
.App {
	font-family: 'Inter', sans-serif;
	height: 100%;
}

/* Storybook styles */

.sb-show-main {
	/* For side-by-side theme view */
	padding: 0 !important;
}
